
    
        <h1 id="mainHeading">Leiden, Stationsplien 4A</h1>
        <div id="button-wrapper">
            <button class="header-button" id="nt"> NT </button>
            <button class="header-button" id="ovk"> OVK </button>
        </div>
    