    <button> click here </button>
    <div> <%- neco %> </div>
    <% _.each(neco, function(item) {%>
        <div> <%- item %>  </div>
<% }) %>
     
            <% _.each(data, function(item) {%>
                <div> <%- item%>  </div>
        <% }) %>
  
